<div class="container">
  <div class="row">
    <h1 class="px-4 my-4", style="background-color: #eeeeee;">会員情報編集</h1>
  </div>
    
    
    <%= form_with model: @customer, url: customers_information_path(@customer),method: :patch do |f| %>
      
      <div class="row col-form-label-lg">
        <div class="col-1"></div>
        <div class="col-3">
          <%= f.label :氏名 %>
        </div>
        <div class="col-3">
          <%= f.text_field :last_name, autofocus: true, placeholder: "令和", autocomplete: "last_name" %>
        </div>
        <div class="col-1">
          <%= f.text_field :first_name, autofocus: true, placeholder: "道子", autocomplete: "first_name" %>
        </div>
      </div>
      
      <div class="row col-form-label-lg">
        <div class="col-1"></div>
        <div class="col-3">
          <%= f.label :フリガナ %>
        </div>
        <div class="col-3">
          <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ", autocomplete: "last_name_kana" %>
        </div>
        <div class="col-1">
          <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ", autocomplete: "first_name_kana" %>
        </div>
      </div>
      
      <div class="row col-form-label-lg">
        <div class="col-1"></div>
        <div class="col-3">
          <%= f.label :"郵便番号(ハイフンなし)" %>
        </div>
        <div class="col-3">
          <%= f.text_field :post_code, autofocus: true, placeholder: "0000000", autocomplete: "post_code" %>
        </div>
      </div>
      
      <div class="row col-form-label-lg">
        <div class="col-1"></div>
        <div class="col-3">
          <%= f.label :住所 %>
        </div>
        <div class="col-3">
          <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address", size: "40" %>
        </div>
      </div>
      
      <div class="row col-form-label-lg">
        <div class="col-1"></div>
        <div class="col-3">
          <%= f.label :メールアドレス %>
        </div>
        <div class="col-3">
          <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", size: "40" %>
        </div>
      </div>
      
      <div class="row mt-3 mb-5">
        <div class="col"></div>
        <%= f.submit "変更内容を保存", class: "btn btn-success mr-5" %>
        <%= link_to "退会する", customers_confirm_path(@customer), class:"btn btn-danger ml-5" %>
        <div class="col"></div>
    　</div>
    
    <% end %>
</div>