<div class="container">
  <div class="row">
    <h2 class="my-4 px-4", style="background-color:#FFDBC9">商品一覧</h2>
  </div>
    <%= link_to "新規登録へ" ,new_admin_item_path ,class:"btn btn-success mb-3" %>
  <div class="row">
    <table class='table table-hover '>
      <thead style="background-color:#FFDBC9;">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
              <%= item.name %>
              <% end %>
              </td>
            <td><%= item.price.to_s(:delimited) %> 円</td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
               <p class="text-success"><strong>販売中</strong></p>
              <% else %>
               <p class="text-muted"><strong>販売停止</strong></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col"></div>
      <%= paginate @items %>
    <div class="col"></div>
  </div>
</div>
