<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="font-size: 20px;">
    <%= render 'public/genre_searches/genre' %>
    </div>
    
    <div class="col-7 text-center" style="margin-left: 75px;">
      <div class="swiper">
        <div class="swiper-wrapper">
    
          <div class="swiper-slide">
            <%= image_tag asset_path('top1_image.jpg'), alt: '' %>
          </div>
    
          <div class="swiper-slide">
            <%= image_tag asset_path('top2_image.jpg'), alt: '' %>
          </div>
    
          <div class="swiper-slide">
            <%= image_tag asset_path('top3_image.jpg'), alt: '' %>
          </div>
        </div>
        <!-- ページネーション -->
        <div class="swiper-pagination"></div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
  
      <script>
        const swiper = new Swiper(".swiper", {
      loop: true, // ループ
      speed: 1500, // 少しゆっくり(デフォルトは300)
      effect: 'fade', // フェード
      autoplay: { // 自動再生
        delay: 1000, // 2秒後に次のスライド
        disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
      },
      // ページネーション
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      // 前後の矢印
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      });
      </script>
      <div style="background-image: url(../images/top4_image_jpg);"></div>
        <h2 class="my-5">ようこそ、長野cakeへ！<br>
        　　このサイトは、ケーキ販売のECサイトになります。<br>
        　　会員でない方も商品の閲覧はできますが、<br>
        　　購入には会員登録が必要になります。<br>
        </h2>
      </div>
</div>

<div class="container">
    <table>
      <% @items.each do |item| %>
      <div class="product">
        <%= image_tag item.image, size: "250x200" %>
        <p><%= item.name %></p>
        <p>¥<%= item.price %></p>
      </div>
      <% end %>
    </table>
</div>

