<h1>顧客編集画面</h1>

<%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>

  <div class="field">
    <%= f.label :会員ID %>
    <%= @customer.id %>
  
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :last_name, autofocus: true, placeholder: "令和", autocomplete: "last_name" %>
    <%= f.text_field :first_name, autofocus: true, placeholder: "道子", autocomplete: "first_name" %>
  </div>
    
  <div class="field">
    <%= f.label :フリガナ %>
    <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ", autocomplete: "last_name_kana" %>
    <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ", autocomplete: "first_name_kana" %>
  </div>
  
  <div class="field">
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, autofocus: true, placeholder: "0000000", autocomplete: "post_code" %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address", size: "40" %>
  </div>
  
  <div class="field">
    <%= f.label :"電話番号(ハイフンなし)" %>
    <%= f.text_field :phone_number, autofocus: true, placeholder: "0000000000", autocomplete: "phone_number" %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email" %>
  </div>
  
  <div>
    <%= f.label :is_active, '会員ステータス' %>
    <%= f.radio_button :is_active, true, checked: @customer.is_active == true %>
    <%= f.label :is_active, '有効' %>
    <%= f.radio_button :is_active, false, checked: @customer.is_active == false %>
    <%= f.label :is_active, '退会済み' %>
  </div>
	
	<%= f.submit '変更を保存', class: "btn btn-success" %>
<% end %>