<h1>配送先登録/一覧</h1>

<%= form_with model: @address do |f| %>
  <div class="field">
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, autofocus: true, placeholder: "0000000", autocomplete: "post_code" %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, placeholder: "住所を入力してください", autocomplete: "address", size: "40" %>
  </div>
  
  <div class="field">
    <%= f.label :宛名 %>
    <%= f.text_field :name, autofocus: true, placeholder: "令和道子", autocomplete: "name" %>
  </div>
    
    <%= f.submit '新規登録' %>
<% end %>

<table width = 800>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th> 
      <th>宛名</th>
      <th>1</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
     <tr>
      <td><%= address.post_code %></td> 
      <td><%= address.address %><td> 
      <td><%= address.name %></td>
      <td><%= link_to "編集する",edit_address_path(address) %> <%= link_to "削除する", address_path(address), method: :delete, data: { confirm: "本当に消しますか？" } %></td>
     </tr>
    <% end %>
  </tbody>
</table>
