<div class="container">
  <div class="row">
    <h2 class="px-4 my-4", style="background-color: #FFDBC9;">ショッピングカート</h2>
  </div>
    <%= button_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, data: { confirm: '本当にカートを空にしますか？' }, class: 'btn btn-danger mb-4' %>
    <table class="table table-bordered">
      <tr style="background-color: #FFDBC9;">
        <th class="col-3">商品名</th>
        <th class="col-2">単価(税込)</th>
        <th class="col-2">数量</th>
        <th class="col-1">小計</th>
        <th class="col-1"><br></th>
      </tr>
      <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "80x80" %>
            <%= cart_item.item.name %>
          </td>
          <td>
            <%= cart_item.item.add_tax_price %>
          </td>
          <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
              <%= f.select :amount, (1..10).to_a %>
              <%= f.submit "変更", class: "btn btn-success" %>
            <% end %>
          </td>
          <td>
            <%= cart_item.subtotal %>
          </td>
          <td>
            <%= link_to "削除", cart_item_path(cart_item), method: :delete, data: { confirm: "商品を削除しますか？" }, class: "btn btn-danger ml-3" %>
          </td>
        </tr>
        <% @sum += cart_item.subtotal %>
      <% end %>
    </table>
    
    <div class="row mt-4">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary col-2" %>
      <div class="col"></div>
      <h4 class="col-2 pl-5 mr-5", style="background-color: #FFDBC9;">合計金額</h4>
      <h4 class="col-2"><%= @sum %>円</h4>
    </div>
    
    <div class="row">
  <% if @cart_items.empty? %>
    <!-- カートアイテムが空の場合の処理 -->
    <h4 class="col-auto mx-auto mt-5">カートに商品がありません。</h4>
  <% else %>
    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success col-auto mx-auto mt-5 btn-lg" %>
  <% end %>
</div>
</div>