<div class="container", style="font-size: 20px">
  <div class="row">
    <h2 class="px-4 my-4", style="background-color: #FFDBC9;">注文情報入力</h2>
  </div>
    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <div class="row">
        <h3 class="px-4 my-4", style="background-color: #FFDBC9;">支払方法</h3>
      </div>
      <%= f.radio_button :payment_method, :credit_card%>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
    
      <%= f.radio_button :payment_method, :transfer %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
    
      <div class="row">
        <h3 class="px-4 my-4", style="background-color: #FFDBC9;">お届け先</h3>
      </div>
      <div class="mb-4">
        <%= f.radio_button :address_number, 1 %>
        <%= f.label :address_number_1, "ご自身の住所", class:"font-weight-bold" %><br>
        <div class="ml-4">
          <%= current_customer.address %><br>
        </div>
      </div>
      
      <div class="mb-4">
        <%= f.radio_button :address_number, 2 %>
        <%= f.label :address_number_2, "登録先の住所", class:"font-weight-bold" %><br>
        <div class="ml-4">
          <%= f.collection_select(:registered, @addresses, :id, :address) %><br>
        </div>
      </div>
      
      <div class="mb-4">
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, "新しいお届け先", class:"font-weight-bold" %><br>
        <%= f.label :post_code, "郵便番号(ハイフンなし)", class: "ml-4 col-3" %>
        <%= f.text_field :post_code, placeholder: "0000000", autocomplete: "post_code"  %><br>
        <%= f.label :address, "住所", class: "ml-4 col-3" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address", size:"40" %><br>
        <%= f.label :name, "宛名", class: "ml-4 col-3" %>
        <%= f.text_field :name, placeholder: "令和 道子", autocomplete: "name" %><br>
      </div>
    
      <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-lg" %>
    <% end %>
</div>