<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>ながのCAKE</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <i class="fa fa-solid fa-house text-white"></i>
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-users text-white"></i>
              <%= link_to '商品一覧', users_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-book-open text-white"></i>
              <%= link_to 'カート', books_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-right-from-bracket text-white"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
          <% else %>
            <li class="nav-item">
              <i class="fa fa-solid fa-house text-white"></i>
              <%= link_to 'About', about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-link text-white"></i>
              <%= link_to '商品一覧', about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-user-plus text-white"></i>
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa fa-solid fa-right-to-bracket text-white"></i>
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main class="mb-auto">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
    </main>
    <fotter class="bg-white text-dark pt-5 pb-4 text-center">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </fotter>
  </body>
</html>
